* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Lexend Deca';
}

.container {
  display:grid;
  height: 100vh;
  grid-template-columns: 0.25fr 1fr 0fr ;
  grid-template-rows: 80px 1fr 0.1fr;
  grid-template-areas: 
    "sidebar header header"
    "sidebar content content"
    "sidebar content content"
    "sidebar visitor visitor";
  grid-gap: 0.5rem;
  font-family: 'Lexend Deca';
}

/* sidebar items*/
.menu {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  color: white;
  border-left: 10px solid transparent;
}

.menu:hover {
  border-left: 10px solid #FFC700;
  color: #FFC700;
  transition: 0.3s;
}

h1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 16px;
  padding: 10px;
  align-items: center;
  font-weight: 700;
}

.school-logo {
  height:90px;
  padding: 10px;
}

/* title box/bulsu icon on sidebar */
.website-title {
  display: flex;
  padding-bottom: 15px;
  padding-top: 15px;
}

.sidebar {
  font-size: 15px;
  background-color: #0085FF;
  grid-area: sidebar;
}

.header {
  background-color: #C1CFDB;
  grid-area: header;
  border-radius: 15px;
  font-size: 15px;
  margin-right: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "guard_box sg-box utility";
}

/* profile picture */
.guard {
  height: 60px;
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
}

.name-sg {
  font-weight: 800;
  font-size: 20px;
}

/* type of user */
.type {
  color: #3CA1FF;
  font-size: 14px;
}

/* box of profile picture */
.guard_box {
  grid-area: guard_box;
  padding: 10px;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
}

/* security guard box */
.sg-box{
  grid-area: sg-box;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.uti-divider {
  font-size: 45px;
  line-height: 20px;
  width: 30px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}

 /* header div icons */
 .utility {
  grid-area: utility;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

/* header icons */
.nav-logo {
  color:#3CA1FF;
  cursor: pointer;
  align-items: center;
  justify-items: center;  
  border-radius: 15px;
  padding: 8px;
  font-size: 36px;
  line-height: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-logo:hover {
  color:white;
  background-color: #3CA1FF;
  border-radius: 15px;
  transition: 0.3s;
}

/* sidebar text */
.title {
  padding:10px;
}

/* horizontal divider on side lowerside */
.line {
  background-color: white;
  height: 3px;
  margin: auto;
  width: 220px;
}

/* horizontal divider on side topside */
.line-1 {
  background-color: white;
  height: 3px;
  margin: auto;
  width: 220px;
  margin-top: 10px;
}

.logout {
  margin-top: 10px;
}

.home{
  padding-top: 10px;
  color:white;
}
.home:hover {
  color:#FFC700;
}

.logs {
  padding-bottom: 10px;
}

/* whole box of content */
.content {
  grid-area: content;
  display:grid;
  grid-template-columns: 1fr 5px 1fr ;
  grid-template-rows: 1fr 1fr; 
  grid-template-areas: 
  "content1 divider content2"
  "content1 divider content2";
  border-radius: 15px;
  border: 2px solid black;
  height: 350px;
  width: auto;
  margin: 25px 20px 15px 15px;
  flex-direction: row;
}

/* first half box of content */
.content1 {
  grid: content1;
  display: flex;
  justify-content: center;
  margin: auto;
}

/* second half box of content */
.content2 {
  grid:content2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70% 15% 19%;
  grid-template-areas: 
  "scanner"
  "btn-scan"
  "scan-icon";
  justify-content:center;
  padding: 5px;
}

/* divider on content box */
.divider {
  display: flex;
  grid:divider;
}

.vertical-line {
  display: flex;
  width: 2px;
  height: 330px;
  margin-top: 10px;
  background-color: #C1CFDB;
}

/* visitor button*/
.visitor {
  display: flex;
  justify-content: flex-end;
}

/* scanner icon and gate # line */
.scan-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  align-items:flex-end;
}

.usbcameraicon {
  display: flex;
  height: 36px;
} 

p {
  align-self: flex-end;
  font-weight:bolder;
  text-transform: uppercase;
}

/* scanning ready button */
.btn-scan {
  cursor: pointer;
  background: black;
  border-radius: 20px;
  color: white;
  margin: auto;
  text-transform: uppercase;
  font-weight: 800;
  padding: 10px;
  width: 250px;
}

/* place where the scanner takes place */
.scanner {
  display: flex;
  margin: 10px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* properties of visitor button */
#btn-visitor {
  cursor: pointer;
  background: black;
  border-radius: 15px;
  color: white;
  padding: 5px;
  grid-area: visitor;
  font-size: 12px;
  height: 30px;
  width: 200px;
  margin-bottom: 10px;
  font-weight: 800;
}



@media only screen and (max-width: 550px) {
  .container{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr 0.2fr;
    grid-template-areas: 
    "sidebar "
    "header"
    "content"
    "visitor";
  }
}

